<!-- Banner -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('cocktail.jpg') %>');">
  <div class="banner-content">
    <h1>Tonton Joël</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%=link_to 'Découvrez nos douceurs',rums_path(anchor: 'ancrelist'), class: 'btn btn-success btn-lg'%>
  </div>
</div>

<!--  Wrapper description tonton joel -->
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="mycontainer">
        <div class="col-xs-6 col-md-4 col-md-offset-2">
          <div class="descriptiontext">
          <h3>Tonton Joël c'est </h3><!-- JS animation to add on title -->
          <ul>
            <li><i class="fas fa-search"></i>Du rhum et du zouk à gogo</li>
            <li><i class="far fa-envelope"></i>Une réponse pas vraiment wapide </li>
            <li><i class="fas fa-shopping-cart"></i>Achète ton rhum comme à cawfouw</li>
          </ul>
        </div>
      </div>
      </div>
      <div class="col-xs-6 col-md-6 reveal-on-scroll">
        <img class="fruit" src="<%=image_path('fruits.png')%>">
      </div>
    </div>
  </div>
</div>

<!-- Cards Rum List -->
<div class="wrappercards">
  <h3 class="wrappercardstitle" id= "ancrelist">Quelques douceurs</h3>
  <div class="container">
    <div class="row">
      <%= form_tag rums_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Trouver un rhum"
        %>
      <% end %>
      <% @rums.each do |rum|%>
      <div class="col-xs-12 col-sm-4">
        <% if rum.photo.file.nil? %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/1600x900/?cocktail');">
        <% else %>
          <div class="card" style ="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
        url('<%= cl_image_path rum.photo, height: 300, width: 400, crop: :fill %>')">
        <% end %>
          <div class="card-description">
            <p><%= link_to rum.name, rum_path(rum) %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

 <!-- Link to add a new rum -->
 <div class="banner small_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('pinacolada.jpg');%> ');">
  <div class="contentaddlink reveal-on-scroll">
    <h3>Envie de devenir un futur Joël</h3>
      <img class="legitimus", src="<%=image_path('pascal.jpg')%>">
        <p><em>Si tu as l'âme d'un rhumier et que tu souhaites surprendre notre communauté par tes rhums arrangés.<br> N'hésite plus et ajoute tes rhums</em></p>
         <%= link_to 'Ajoute ton rhum',new_rum_path , class: 'btn btn-primary' %>
  </div>
</div>



