
<!-- FIRST BLOCK -->

<!-- Regroupe photo / Description / Map -->
<div class="contentbackground">
  <div class="container reveal-on-scroll">
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="titlerum">Le rhum</h3>
        </div>
          <div class="col-xs-6">
            <div class="first_line">

            <!-- Image of cocktail -->
              <div class="image_rum">
                <div class="rum-description-general">
                  <% if @rum.photo.file.nil? %>
                    <%= image_tag "daiquiri.jpg", id: "rum-thumb", class:'image_rum' %>
                  <% else %>
                    <%= cl_image_tag @rum.photo, height: 300, width: 400, crop: :fill, id: "rum-thumb" %>
                  <% end %>

                  <!-- Coctail description -->
                  <div class="rum-title-description">
                      <p><strong><%= @rum.name %></strong></p>
                      <p><strong>Description:</strong><%= @rum.description %></p>
                      <p><strong>Annecdote:</strong><%= @rum.anecdote %>
                      <p><strong>Price: </strong><%= @rum.price %> € </p>
                      <p><strong>Origine du rhum: </strong><%= @rum.origin %></p>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <!-- Purchase block -->
          <div class="purchase_block">
            <div class="design_purchase_block">
              <% if policy(@rum).edit? %>
                <div class="vendor-module" >
                  <%= link_to "Mettre à jour ce rhum", edit_rum_path %>
                </div>
              <% elsif policy(@rum).edit? == false && @rum.availability%>
                <div class="purchase-module" >
                  <h3>Commander</h3>
                    <%= simple_form_for [@rum, @order] do |f| %>
                      <%= f.input :quantity, placeholder: "Quantité désirée"  %></span>
                      <%= f.submit "Acheter ce rhum !",id: "rum-order", class: "btn btn-primary" %>
                    <% end %>
                </div>
              <% else %>
                <div class="purchase-module" >
                  <h3>Non disponible</h3>
                    <p>Victime de son succès</p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>

  <!-- SECOND BLOCK -->

    <!-- Vendor information -->
  <div class="container reveal-on-scroll">
    <div class="content">
      <div class="row">
        <div class="col-xs-6">
          <div class="titlejoel">
            <h3>Qui est ton Joël ?</h3>
          </div>
            <div class="descriptionjoel">
                <% if current_user.photo.file.nil? %>
                  <img src="<%=image_path('pascal.jpg')%>" alt="" class="avatar legitimus">
                <%else %>
                  <%= cl_image_tag current_user.photo, height: 300, width: 400, crop: :fill, class:"avatar" %>
                <% end %>
            </div>
          <ul class="descriptionjoeltext">
            <li><strong>Prénom: </strong> <%= @rum.user.username %></li>
            <li><strong>Rhum mis en vente:  </strong><%= @rum.user.rums.count  %> rhums </li>
          </ul>
        </div>


        <!-- Google Map -->
        <div class="col-xs-6">
          <div id="map" style="width: 400px; height: 300px;" data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>
    </div>
  </div>

<br>
  <!-- Review block  -->
  <div class="container reveal-on-scroll">
   <div class="content">
    <div class="row">
      <div class="reviewform">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <% if policy(@rum).edit? == false && user_signed_in? %>
           <h1>Note cette douceuw</h1>
            <%= simple_form_for [@rum, @review] do |f| %>
              <%= f.input :content, label: 'Donne ton avis' %>
              <%= f.input :rating, label: 'Combien de ti bo doudou', collection:[0,1,2,3,4,5] %>
              <div class="text-center"><%= f.submit "C'est chaud ici", class: "btn btn-primary" %></div>
            <% end %>
          <% end %>
          <div class="reviewcontent">
            <% if @rum.reviews %>
              <ul>
                <% @rum.reviews.each do |review| %>
                  <li>
                    <% if current_user.photo.file.nil? %>
                      <img src="<%=image_path('pascal.jpg', height: 50, width: 50)%>" alt="" class="avatar legitimus avatar-image">
                    <%else %>
                      <%= cl_image_tag current_user.photo, height: 50, width: 50, crop: :fill %>
                    <% end %>
                    <strong><%= review.user.username.capitalize %></strong>
                    <span class="stars-container">
                      <%review.rating.times do %>
                        <i class="fas fa-star colorstar"></i>
                      <% end %>
                    </span>
                    <span class="review-container"><%= review.content%></span>
                    </li>
                <% end %>
              </ul>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
</div>
