<div class="rum-card">
  <div class="rum-description-general">
    <%= image_tag "daiquiri.jpg", id: "rum-thumb"  %>
    <div class="rum-description-text">
      <p><strong><%= @rum.name %></strong></p>
      <p><strong>Description:</strong><%= @rum.description %></p>
      <p><strong>Annecdote:</strong><%= @rum.anecdote %>
      <p><strong>Price:</strong><%= @rum.price %> € </p>
    </div>
  </div>
  <div class="purchase-module" >
    <h3>Commander:</h3>
    <%= simple_form_for [@rum, @order] do |f| %>
      <%= f.input :quantity, placeholder: "Enter a number"  %>
      <%= f.submit "Order", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to "Retour à la page d'accueil", rums_path %>
