<h1><%=@rum.name%></h1>

<p><strong>Description: </strong><%= @rum.name %></p>
<p><strong>Price:</strong><%= @rum.price %></p>

<h2>Commander:</h2>
<%= simple_form_for [@rum, @order] do |f| %>
  <%= f.input :quantity, placeholder: "Enter a number"  %>
  <%= f.submit "Order", class: "btn btn-primary" %>
<% end %>


<%= link_to "Page d'accueil", rums_path %>
