<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tonton Joël</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">

  </head>
  <!-- Beginning of the navbar -->
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    <%= javascript_pack_tag "map" %>
  </body>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
    </div>
    <div class="footer-copyright">
      <em>This footer is made with at Le Wagon</em>
    </div>
  </div>
</html>
